# Airflow and Providers
apache-airflow==2.4.3
apache-airflow-providers-amazon>=2.7.0
apache-airflow-providers-apache-hive==4.0.1
apache-airflow-providers-apache-spark==3.0.0

# AWS SDK for Python
boto3>=1.23.9

# Testing and linting tools
pytest==6.2.4           # For unit testing
flake8==3.9.2           # For linting
