version: 0.2
phases:
  install:
    commands:
  build:
    commands:
      - echo "Deploying DAGs to S3"
      - aws s3 cp ./dags s3://airflow-dags-production-bucket-new/dags/WORKDAYFINA --exact-timestamps
      
